@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;900&display=swap");

:root {
    --bg-dark: #0c1712;
    --bg-light: #f7f8fa;
    --bg-green: #1ac073;
    --yellow: #f3ba00;
    --black: #101115;
    --gray: #929292;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
section {
    width: 100%;
}
.container {
    width: 1180px;
    margin: 0 auto;
}

/* Navabar Start */
#nav-section,
#hero-section {
    background: var(--bg-dark);
    color: #fff;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
}
#nav-icons {
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 35px;
}
#cart-icon {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}
#cart-icon a {
    color: #fff;
}
#count {
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
}
/* Navabar End */

/* Hero Section Start */
#hero-section {
    padding: 165px 0;
}
#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hero-left h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 82px;
}
.hero-left p {
    width: 80%;
    font-size: 16px;
    line-height: 20px;
}
.hero-left form {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}
.hero-left form input {
    width: 100%;
    font-size: 12px;
    background: none;
    border: none;
    outline: none;
    padding-left: 15px;
}
.hero-left form button {
    padding: 20px 30px;
    background: var(--yellow);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
/* Hero Section End */

/* Products Section Start */
#products-section {
    background: var(--bg-light);
    padding: 100px 0;
}
#products-section h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
}
.filter-btns {
    margin-bottom: 38px;
}
.filter-btns button {
    padding: 13px 40px;
    background: none;
    color: var(--gray);
    outline: none;
    cursor: pointer;
}
.filter-btns #btn1 {
    background: var(--yellow);
    color: var(--black);
    border: 2px solid var(--yellow);
    border-radius: 10px 0 0 10px;
}
.filter-btns #btn2,
.filter-btns #btn3,
.filter-btns #btn4 {
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    border-left: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
}
.filter-btns #btn5 {
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    border-left: 1px solid var(--yellow);
    border-right: 2px solid var(--yellow);
    border-radius: 0 10px 10px 0;
}
#cat {
    width: 250px;
    padding: 13px 19px;
    background: none;
    color: var(--gray);
    font-size: 16px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 39px;
}
.product-card {
    background: #fff;
    color: var(--black);
    border-radius: 10px;
}
.product-desc {
    padding: 15.5px 12.5px;
}
.product-desc .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}
.product-desc .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-desc .bottom .star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
}
.product-desc .bottom .star p {
    background: var(--bg-light);
    padding: 4px 6px;
    border-radius: 10px;
}
.product-desc .bottom .add-to-cart {
    font-size: 22px;
    color: var(--yellow);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#more {
    padding-top: 100px;
    text-align: center;
}
#more button {
    padding: 13px 19px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    cursor: pointer;
}
/* Products Section End */

/* Blog Section Start */
#blog-section {
    padding: 100px 0;
}
#blog-section h3 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 28px;
}
#blogs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
#blog-left,
#blog-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.desc {
    padding: 15px 20px;
}
.desc h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}
.desc p {
    font-size: 12px;
    font-weight: 300;
}
/* Blog Section End */

/* Contact Section Start */
#contact-section {
    background: var(--bg-light);
    padding: 100px 0;
    margin-bottom: 60px;
}
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.contact-left h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.contact-left p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 5px;
}
#contact-form {
    width: 100%;
    padding-top: 32px;
}
#name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-bottom: 25px;
}
#name-box input {
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}
#msg {
    width: 616px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}
/* Contact Section End */

/* Footer Section Start */
#footer-section {
    background: var(--bg-green);
    color: #fff;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #fff;
}
#footer-icons {
    font-size: 20px;
    display: flex;
    gap: 12px;
}
.footer-bottom {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}
/* Footer Section End */

/* Cart Page Start */
#cart-section {
    padding: 70px 0;
}
#cart-section table {
    width: 100%;
    margin: 50px 0;
}
#cart-section table,
th,
td {
    border: 1px solid var(--black);
    text-align: center;
    border-collapse: collapse;
}
#cart-section th,
td {
    padding: 10px 0;
}
#cart-total {
    width: 100%;
    padding: 0 50px;
    font-weight: 500;
    text-align: right;
}
#cart-section .item-remove {
    cursor: pointer;
}
/* Cart Page End */
